<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3284ec92d7.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  </head>
  <body>
    <header>
      <div class="container sop-header">
        <div class="logo">
          <img src="/images/logo-valen-sartorelli-verde.png" alt="Valentina Sartorelli Full Stack Developer" width="200">
        </div>
        <nav class="sop-nav">
          <ul>
            <li>
              <a href="#presentation" title="About me">
                Me
              </a>
            </li>
            <li>
              <a href="#skills" title="My Skills">
                Skills
              </a>
            </li>
            <li>
              <a href="#projects" title="Latest projects">
                Projects
              </a>
            </li>
            <li>
              <a href="#get-in-touch" title="Let's get in touch!">
                Get in touch
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div> -->
      <div class="carousel-inner">
        <!-- <div class="carousel-item">
          <img src="/images/1.jpg" class="d-block w-100" alt="Primera imagen">
        </div> -->
        <div class="carousel-item active">
          <img src="/images/valentina-sartorelli-web-developer-ph.jpg" class="d-block w-100" alt="Valentina Sartorelli | Web developer">
        </div>
      </div>
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
    </div>

    <main>
      <a id="presentation"></a>
      <section class="module presentation">
        <div class="container">
          <h2 class="first">Hi! and welcome.
            <div class="sub"></div>
          </h2>
          <p>
            I’m a Front-end developer and aspiring Full Stack Developer based in Rosario, Argentina. <br>
            I worked many years with HTML5, CSS3 + Bootstrap, and now I’m studying JavaScript, Node.js, Express, React, MySQL, Sequelize and APIs. I like learning as many things as possible!
          </p>
          <p>
            Since two years ago, I’m also working in Digital Marketing as a Ssr Digital Demand Specialist, learning about this area and incurring in new tools, such as Marketo and Salesforce.
          </p>
          <p>
            When I’m not working I like listening to music/podcasts, reading good books or hanging with my cat Olivia :)
          </p>
          <p>
            Let’s get in touch!
          </p>
        </div>
      </section>

      <a id="skills"></a>
      <section class="module skills">
        <div class="container d-flex">
          <h2>Skills
            <div class="sub"></div>
          </h2>
          <div class="card-holder">
            <div class="card">
              <div class="card-body">
                <i class="fab fa-html5"></i>
                <h5 class="card-title">HTML</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-css3-alt"></i>
              <div class="card-body">
                <h5 class="card-title">CSS</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-bootstrap"></i>
              <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-js-square"></i>
              <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-node-js"></i> 
              <div class="card-body">
                <h5 class="card-title">Node.js</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-node-js"></i> 
              <div class="card-body">
                <h5 class="card-title">Express</h5>
              </div>
            </div>

            <div class="card">
              <i class="fas fa-database"></i> 
              <div class="card-body">
                <h5 class="card-title">MySQL</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-git"></i>
              <div class="card-body">
                <h5 class="card-title">GIT</h5>
              </div>
            </div>

            <div class="card">
              <i class="fas fa-asterisk"></i>
              <div class="card-body">
                <h5 class="card-title">Scrum</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-react"></i>
              <div class="card-body">
                <h5 class="card-title">React</h5>
              </div>
            </div>

            <div class="card">
              <i class="fas fa-image"></i> 
              <div class="card-body">
                <h5 class="card-title">Photoshop</h5>
              </div>
            </div>

            <div class="card">
              <i class="fas fa-bezier-curve"></i>
              <div class="card-body">
                <h5 class="card-title">Illustrator</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-figma"></i>
              <div class="card-body">
                <h5 class="card-title">Figma</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-wordpress"></i>
              <div class="card-body">
                <h5 class="card-title">Wordpress</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-mailchimp"></i>
              <div class="card-body">
                <h5 class="card-title">Mailchimp</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-salesforce"></i>
              <div class="card-body">
                <h5 class="card-title">Salesforce</h5>
              </div>
            </div>

            <div class="card">
              <i class="fas fa-mail-bulk"></i>
              <div class="card-body">
                <h5 class="card-title">Marketo</h5>
              </div>
            </div>

            <div class="card">
              <i class="fab fa-trello"></i>
              <div class="card-body">
                <h5 class="card-title">Trello</h5>
              </div>
            </div>
          </div>
        </div>
      </section>

      <a id="projects"></a>
      <section class="module projects">
        <div class="container">
          <h2>Projects
            <div class="sub"></div>
          </h2>
          <div class="row">
            <div class="sop-projects d-flex">
              <div class="card">
                <a href="http://coconutlenceria.com.ar/" target="_blank">
                  <img src="/images/project/coconut.jpg" width="100%" alt="Coconut Lencería">
                  <h3>Coconut Lencería</h3>
                  <p>Magento</p>
                </a>
              </div>
              <div class="card">
                <a href="https://grupo-4-webyte.herokuapp.com/" target="_blank">
                  <img src="/images/project/webyte.jpg" width="100%" alt="We Byte">
                  <h3>We Byte</h3>
                  <p>Node.js + Express + MySQL + HTML + CSS + Bootstrap</p>
                </a>
              </div>
              <div class="card">
                <a href="https://lamasonerialenceria.com/" target="_blank">
                  <img src="/images/project/lamasoneria.jpg" width="100%" alt="La Masonería Lencería">
                  <h3>La Masonería Lencería</h3>
                  <p>Magento</p>
                </a>
              </div>
              <div class="card">
                <a href="https://pampa-ingenieria.herokuapp.com/" target="_blank">
                  <img src="/images/project/pampa.jpg" width="100%" alt="Pampa Ingeniería">
                  <h3>Pampa Ingeniería</h3>
                  <p>Node.js + Express</p>
                </a>
              </div>
              <div class="card">
                <a href="http://fundacionsanlucas.com.ar/index.html" target="_blank">
                  <img src="/images/project/san-lucas.jpg" width="100%" alt="Fundación San Lucas">
                  <h3>Fundación San Lucas</h3>
                  <p>HTML + CSS + Bootstrap</p>
                </a>
              </div>
              <div class="card">
                <a href="http://balanceap.com/" target="_blank">
                  <img src="/images/project/bap.jpg" width="100%" alt="BAP">
                  <h3>BAP</h3>
                  <p>HTML + CSS + Bootstrap</p>
                </a>
              </div>
              <div class="card">
                <a href="https://webyte-dashboard-dh.herokuapp.com/" target="_blank">
                  <img src="/images/project/webyte-dashboard.jpg" width="100%" alt="We Byte - Dashboard">
                  <h3>We Byte - Dashboard</h3>
                  <p>React</p>
                </a>
              </div>
              <div class="card">
                <a href="https://thesinapiteam.com/" target="_blank">
                  <img src="/images/project/sinapi.jpg" width="100%" alt="Sinapi">
                  <h3>Sinapi</h3>
                  <p>HTML + CSS + Bootstrap</p>
                </a>
              </div>
              <div class="card">
                <a href="#" >
                  <img src="/images/project/proximamente.jpg" width="100%" alt="Next">
                  <h3>Proximamente</h3>
                  <p>Mas proyectos</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="module">
      <a id="get-in-touch"></a>
      <div class="container">
        <section>
          <p>Get in touch</p> 
          <div class="redes">
            <a href="https://www.linkedin.com/in/valensartorelli/" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/valensartorelli" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-github"></i>
            </a>
            <a href="mailto:valen.sartorelli@gmail.com" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-envelope"></i>
            </a>
          </div>
        </section>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
