body {
  padding: 0px;
  font: 14px 'Poppins', sans-serif;
  color: #3C403D;
}

a {
  color: #39603D;
}

.sop-header{
  position: relative;
  z-index: 999;
  background: white;
  padding: 8px 15px;
  width: 100%;
}

.sop-nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
}

.sop-nav ul li a{
  color: #3C403D;
  text-decoration: none;
  font-weight: 200;
  text-transform: uppercase;
  padding: 0 7px;
  background-size: 0% 2px;
  background-image: linear-gradient(#39603D, #39603D);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 20px;
  transition: background-size .3s;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sop-nav ul li a:hover{
  color: #ffffff;
  background-size: 100% 20px;
}

li.nav-item {
  margin-bottom: 10px;
}

.bg-white{
	background-color: #fff;
}
.d-gray-bg{
	background-color: #2d292a;
}
.yellow-bg{
	background-color: #f3c300;
}
.l-gray-bg{
	background-color: #969494;
}
.align-right{
	text-align: right;
}
.h-g{
	display: none;
}

/* HEADER */
.navbar{
	padding: 13px 0;
}
.navbar .container{
	position: relative;
}
.navbar-dark .navbar-nav .nav-item > .nav-link{
	color: white;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0 14px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navbar-dark .navbar-nav .nav-item > .nav-link:hover{
	color: #39603D;	
}
.navbar-dark .navbar-nav .active > .nav-link{
	color: #39603D;
}
.navbar-expand-md .navbar-collapse{
	justify-content: flex-end;
	margin-right: -14px;
	margin-top: 35px;
}
.navbar-collapse{
	flex-grow: 0;
}
.navbar-dark .navbar-toggler {
    color: transparent;
}

#mobile-menu-button {
  display: block;
  margin-top: 0;
  outline: none;
  border: none;
  width: 33px;
  height: 10px;
  position: relative;
  z-index: 2;
}

#mobile-menu-button:hover{
	background-color: transparent;
	outline: none;
}
#mobile-menu-button:after, 
#mobile-menu-button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2d292a;
    top: 0;
    transition: transform .4s ease-in-out;
}
#mobile-menu-button:after {
  transform: rotate(-45deg) translate(-3px,-15px);
  background-color: #39603D;
  width: 40px;
}
#mobile-menu-button:before {
  transform: rotate(45deg) translate(-9px,8px);
  background-color: #39603D;
  width: 40px;
}

#mobile-menu-button:after {
    top: auto;
    bottom: 0;
}
.collapsed#mobile-menu-button:after {
  transform: rotate(0deg) translate(-15px,0px);
  background-color: #3C403D;
  width: 40px;
}
.collapsed#mobile-menu-button:before {
  transform: rotate(0deg) translate(-15px,0px);
  background-color: #3C403D;
  width: 40px;
}

.module{
  min-height: 500px;
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.module h2{
  font-family: 'Merriweather', serif;
  font-size: 32px;
  margin-bottom: 35px;
  display: inline-block;
}

.carousel {
  position: relative;
  padding-top: 0px;
}

.carousel-inner{
  -webkit-box-shadow: 3px 1px 6px 1px rgb(0 0 0 / 30%);
  box-shadow: 3px 1px 6px 1px rgb(0 0 0 / 30%);
  border: 0;
}

.skills{
  background-color: #DADED4;
}

.skills h2 {
  transform: rotate(
-90deg) translate(-10%, 35%);
  width: 10%;
  text-align: center;
}

.module h2 .sub{
  background-color: #39603D;
  height: 5px;
  width: 100%;
}

.skills .card-holder {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills .card {
  width: 15%;
  background-color: transparent;
  border: 1px solid #333;
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.skills .card:hover{
  -webkit-box-shadow: 3px 1px 6px 1px rgb(0 0 0 / 30%);
  box-shadow: 3px 1px 6px 1px rgb(0 0 0 / 30%);
  border: 0;
}

.skills .card-holder .card .card-title{
  margin-bottom: 0;
}

.skills .card i{
  font-size: 55px;
}

.projects .row .sop-projects{
  justify-content: space-between;
  margin: 0 0px;
  flex-wrap: wrap;
}

.projects .row .sop-projects .card{
  margin: 0 10px;
  border: 0;
  width: 25%;
}

.projects .row .sop-projects .card a{
  text-decoration: none;
}

.projects .row .sop-projects .card a h3{
  font-size: 14px;
  font-weight: 300;
  color: #39603D;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.projects .row .sop-projects .card a p{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #3C403D;
}

footer{
  background-color: #3C403D;
  padding: 60px 0;
  color: #ffffff;
}

footer.module{
  min-height: 350px;
}

footer .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
}

footer a{
  display: inline-block;
}

footer a i{
  color: #ffffff;
  padding: 0 7px;
  font-size: 24px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer a:hover i{
  color: #A3BCB6;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .skills .d-flex {
    flex-wrap: wrap;
  }
  .skills h2 {
    transform: rotate( 0deg) translate(0);
    width: auto;
    display: inline-block;
  }
  .skills .card-holder {
    width: 100%;
  }
  .skills .card {
    width: 48%;
  }
  .projects .row .sop-projects .card{
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  input,
	::placeholder{
		font-size: 20px;
	}
	.h-g{
		display: block;
	}
	.d-i{
		display: inline-block;
	}
	.h-g a.active{
		color: #f3c300!important;
	}
	.navbar .idiomas{
		display: none;
	}
	#mobile-menu-button {
	    display: block;
	}
	.navbar-dark .navbar-nav .nav-item > .nav-link {
	    font-size: 18px;
	    font-weight: 700;
	}
	.navbar-nav{
		margin-top: 20px;
	}
	.navbar-nav li{
		margin-bottom: 5px;
	}
	.contact button {
	    font-size: 12px;
	    padding: 18px 60px;
	}
	button.navbar-toggler{
		margin-top: 2px;
	}
  .skills .card {
    width: 32%;
  }
  .skills h2 {
    transform: rotate( -90deg) translate(-462%, -75%);
    width: 15%;
    height: 50%;
  }
  .skills .card-holder {
    width: 85%;
  }
  .projects .row .sop-projects .card {
    width: 45%;
  }
  

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #mobile-menu-button {
    display: none;
    width: 28px;
    height: 12px;
    position: relative;
    z-index: 2;
    transition: transform .4s ease-in-out;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .module h2{
    font-size: 32px;
    margin-bottom: 35px;
  }
  .skills h2 {
    transform: rotate(-90deg) translate(-240%, -25%);
    width: 10%;
}
  .skills .card-holder {
    width: 90%;
  }
  
  .skills .card {
    width: 15%;
  }
  .skills .card i{
    font-size: 55px;
  }
  .projects .row .sop-projects .card{
    width: 25%;
  }
  footer{
    padding: 60px 0;
  }
  
  footer.module{
    min-height: 350px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}